<br>
<div class="contentDiv">
  <h1 class="headerFont">Favorites List</h1>
  <% if flash[:history_error] %>
    <p class="alert"><%= flash[:history_error] %></p>
  <% else %>
    <% @favorites.each do |favorite| %>
    <div class="content">
      <h3><%= favorite.place.business %></h3>
      <h4>Liked on: <%= favorite.created_at.strftime("%d %b. %Y") %></h4>
      <input type='hidden' name='address' value='<%= favorite.place.address %> <%= favorite.place.city %> <%= favorite.place.state %>'>
      <a class="placeAnker">See on Map</a>
      <a href="/comments/<%= favorite.id %>">Comments</a>
    </div>
    <% end %>
  <% end %>
</div>
<div id="appendDiv">
  <button hidden id="myBtn">Open Button</button>
<div id="myModal" class="modal">
  <div class="modal-map">
    <span class="close">&times;</span>
    <iframe width="100%" height="95%" frameborder="0" style="border:0"
src='' allowfullscreen>
  </div>
</div>
</div>
<br>
