<body>

  <br>
    <h1 style="font: 50px Chalkduster, fantasy">Find Your Food Match</h1>
    <div id='image' style='display:center'>

      <% if session[:business_ids] != nil %>
        <img id='foodImage' src="<%= @random %>" width='800px' height='800px'/>
        <h1 id='title'><b><%= @business["name"]%></h1>
        <h3 style='font: 30px Avantgarde, sans-serif;color:white;'><%= @business["location"]["city"]%></h3>
      <% end %>
    </div>
    <br>
    <form id='like-dislike' action="/swipe" method="post">
      <input type='hidden'  name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type="hidden" name="destination" value="<%= @business["location"]["address1"]%><%= @business["location"]["address2"]%><%= @business["location"]["city"]%>">
      <input type="hidden" name="bus_id" value="<%= @business["id"] %>">
      <input type="hidden" name="business" value="<%= @business["name"] %>">
      <input type="hidden" name="address" value="<%= @business["location"]["address1"]%><%= @business["location"]["address2"]%>">
      <input type="hidden" name="city" value="<%= @business["location"]["city"]%>">
      <input type="hidden" name="state" value="<%= @business["location"]["state"] %>">
      <input type="hidden" name="discard" value="<%= @random %>">
      <input class='dislike' type="submit" name="dislike" value="&#10060;">
      <input class='like' type="submit" name="like" value="&#10004;">
    </form>
    <br>
</body>
