<body>
  <br>
  <div id="historyDiv">
    <h1 class="headerFont">Like History</h1>
    <% if flash[:history_error] %>
      <p class="alert"><%= flash[:history_error] %></p>
    <% else %>
      <% @places.each do |place| %>
        <h3><%= place["business"] %></h3>
        <h3><%= place["created_at"] %></h3>
        <a class="placeAnker">See on Map</a>
          <a href="/places/<%= place['id'] %>">Comments</a>

        <button hidden id="myBtn">Open Button</button>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <iframe width="100%" height="90%" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDBvzq5WsidARhAZ0821MB1iAMTPnHiamI&q=<%= place["address"] %> <%= place["city"] %> <%= place["state"] %>" allowfullscreen>
          </div>
        </div>

    <% end %>
  <% end %>

  </div>
  <br>
</body>
