<body>
  <script type="text/javascript">
  function initialize() {
    var input = document.getElementById('address');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  </script>

<div class="container-fluid text-center" id="mainDiv">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <% if flash[:register_errors] %>
        <% flash[:register_errors].each do |error| %>
          <p class="alert"><%= error %></p>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-8 text-left">
      <div id="searchDiv">
        <h3 style="font: 40px Copperplate, fantasy; color:white"><b>What's your location?</h1>
        <form class="" action="/locate" method="post">
          <div class="input-group">
            <input type='hidden'  name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input type="text" class="form-control" id="address" name="address" placeholder="Enter Your Address">
            <span class="input-group-btn">
              <input type="submit" class='btn' value="Find Places Around">
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-2 sidenav">
      <div id="collapse1" class="collapse">
          <% if flash[:error] %>
            <p><%= flash[:login] %></p>
          <% end %>
          <form class='form-horizontal' action='/login' method='post'>
            <input type='hidden'  name='authenticity_token' value='<%= form_authenticity_token %>'>

            <div class='group-form'>
              <label for='email'>Email:</label>
              <input type='text' class='form-control' name='user[email]' id='email' placeholder='Email'>
            </div>

            <div class='group-form' >
              <label for='password'>Password:</label>
              <input type='password' class='form-control' name='user[password]' id='password' placeholder='Password'>
            </div>
            <div class='btn'>
              <input type='submit' value='Login'>
            </div><hr>
            <a data-toggle="collapse" id="loginanker">Haven't registered yet? Click here!</a>
          </form>
      </div>

      <div id="collapse2" class="collapse">

         <form   class='form-horizontal' action='/create' method='post'>
           <input type='hidden'  name='authenticity_token' value='<%= form_authenticity_token %>'>
          <div class='group-form'>
            <label for='name'>Name:</label>
            <input type='text' class='form-control' name='user[name]' id='name' placeholder='Name'>
          </div>
          <div class='group-form'>
            <label for='email'>Email:</label>
            <input type='text' class='form-control' name='user[email]' id='email' placeholder='Email'>
          </div>
          <div class='group-form' >
            <label for='password'>Password:</label>
            <input type='password' class='form-control' name='user[password]' id='password' placeholder='Password'>
          </div>
          <div class='group-form' >
            <label for='confirm_password'>Confirm Password:</label>
            <input type='password' class='form-control' name='user[password_confirmation]' id='confirm_password' placeholder='Confirm  Password'>
          </div>
          <div class='btn'>
            <input type='submit' value='Register'>
          </div><hr>
          <a data-toggle="collapse" id="registeranker" >Already Registered? Click here to login!</a>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
