<h1>SEARCH IS HERE</h1>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBvqhkHYLtDUACs1-h21pKFwMVcYTFsXdg"></script>
<script type="text/javascript">
  function initialize() {
  var input = document.getElementById('address');
  var autocomplete = new google.maps.places.Autocomplete(input);
  }

<<<<<<< HEAD

=======
>>>>>>> 921301cdef4dcf8c3e1bc786056f5a582ed83f86
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<form class="" action="/somewhere" method="post">
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
<<<<<<< HEAD
  <input style='color:black' type="text" id="address" name="address" placeholder="Enter Your Address">
  <input style='color:black' type="submit" name="" value="Find Places">
</form>

<div>
=======
  <input type="text" style='color:black' id="address" name="address" placeholder="Enter Your Address">
  <input type="submit" style='color:black' name="" value="Find Places">
</form>
<!-- <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> -->
>>>>>>> 921301cdef4dcf8c3e1bc786056f5a582ed83f86


  <div id="map">
    <% @result.businesses.each do |result| %>
      <h4><%= result.name %></h4> <%= result.location.display_address[0] %>, <%= result.location.display_address[1] %>, <%= result.location.display_address[2] %></p>
    <% end %>
    </div>

    <% @result.businesses.each do |result| %>
      <img src="<%= result.image_url %>" width='170px' height='170px'/>
    <% end %>
</div>
