<h1>SEARCH IS HERE</h1>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBvqhkHYLtDUACs1-h21pKFwMVcYTFsXdg"></script>
<script type="text/javascript">
  function initialize() {
  var input = document.getElementById('address');
  var autocomplete = new google.maps.places.Autocomplete(input);
  }

<<<<<<< HEAD
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<form class="" action="/somewhere" method="post">
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <input type="text" id="address" name="address" placeholder="Enter Your Address">
  <input type="submit" name="" value="Find Places">
</form>
=======
<!-- <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> -->
<div>
  <form action="/yelp" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input style='color:black' id="searchTextField" class="controls" type="text" name="" placeholder="Enter Your Address">
    <input style='color:black' type="submit" value="Start Your Search">
  </form>

  <div id="map">
    <% @result.businesses.each do |result| %>
      <h4><%= result.name %></h4> <%= result.location.display_address[0] %>, <%= result.location.display_address[1] %>, <%= result.location.display_address[2] %></p>
    <% end %>
    </div>

    <% @result.businesses.each do |result| %>
      <img src="<%= result.image_url %>" width='200px' height='200px'/>
    <% end %>
</div>
>>>>>>> 379344742499a599c2d7269a54a866435b0018cc
