<!DOCTYPE html>
<html>
<head>
  <title>Food Match</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCQKeK4rYw0Bc4Lc_skolKTdBpcKWImXjU"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" => true %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse" style="background-color: red">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/poop.png" width="40px" height="40px" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active" ><a href="http://localhost:3000/" id="home">Home</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <form action='/logout' method='post'>
              <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <input type='hidden' name='id' value='<%= session[:user_id] %>'>
              <li><span class="glyphicon glyphicon-log-out"><input type='submit' value='Log Out' ></span></li>
            </form>
          <% else %>
            <li><a id="login" data-toggle="collapse"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% end %>


        </ul>
      </div>
    </div>
  </nav>
  <div id='foodResult'>
  <%= yield %>
  </div>
  <footer class="container-fluid text-center">
    <p>OLOLO</p>
  </footer>


  <% if flash[:login] %>
    <button hidden id="myBtn">Open Button</button>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Please Login/Register before proceed</h2>
        <form class='form-horizontal' action='/login' method='post' id="loginform">
            <input type='hidden'  name='authenticity_token' value='<%= form_authenticity_token %>'>

            <div class='group-form'>
              <label for='email'>Email:</label>
              <input type='text' class='form-control' name='user[email]' id='email' placeholder='Email'>
            </div>

            <div class='group-form' >
              <label for='password'>Password:</label>
              <input type='password' class='form-control' name='user[password]' id='password' placeholder='Password'>
            </div>
            <div class='btn'>
              <input type='submit' value='Login'>
            </div><hr>
            <a id="modalloginanker">Haven't registered yet? Click here!</a>
        </form>
        <form  hidden class='form-horizontal' action='/create' method='post' id="registerform">
          <input type='hidden'  name='authenticity_token' value='<%= form_authenticity_token %>'>
         <div class='group-form'>
           <label for='name'>Name:</label>
           <input type='text' class='form-control' name='user[name]' id='name' placeholder='Name'>
         </div>
         <div class='group-form'>
           <label for='email'>Email:</label>
           <input type='text' class='form-control' name='user[email]' id='email' placeholder='Email'>
         </div>
         <div class='group-form' >
           <label for='password'>Password:</label>
           <input type='password' class='form-control' name='user[password]' id='password' placeholder='Password'>
         </div>
         <div class='group-form' >
           <label for='confirm_password'>Confirm Password:</label>
           <input type='password' class='form-control' name=‘user[confirm_password]' id=‘confirm_password' placeholder='Confirm Password'>
         </div>
         <div class='btn'>
           <input type='submit' value='Register'>
         </div><hr>
         <a id="modalregisteranker" >Already Registered? Click here to login!</a>
     </form>
      </div>
    </div>
  <%end%>
</body>
</html>
